# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Compilation
.sass-cache/
_site/

# Logs and db's
*.log
*.sql
*.sqlite

# Other
_layouts/.jekyll-cache/
.jekyll-cache/
_layouts/.jekyll-cache/
_layouts/.jekyll-metadata
