<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
		<!-- <section class="contact"> -->
			<h1 class="logo" align="right">
				<a title="Resume" href="{{ site.resume }}" target="_blank">Resume</a>
				<a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a>
				<a title="Github" href="{{ site.github }}" target="_blank">Github</a>
			</h1>
		<!-- </section> -->
	</div>
</header>